{% extends "skeleton.html" %}

{% block title %}Analysis Results{% endblock %}

{% block body %}
        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h2>Results from "{{ analysis_id }}"</h2>

                    <table>
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>Name</th>
                                <th>Rank</th>
                                <th>Tax ID</th>
                                <th>Download Reads</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for bacteria in analysis_data %}
                                <tr>
                                    <td>{{ bacteria['readcount'] }}</td>
                                    <td>{{ bacteria['name'] }}</td>
                                    <td>{{ bacteria['rank'] }}</td>
                                    <td>{{ bacteria['tax_id'] }}</td>
                                    <td>
                                        <a class="small button" href="/analysis/{{ analysis_id }}/{{bacteria['tax_id'] }}">
                                        Download
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}
